.container .header ul.pull-right li.publish{

}
.container .header ul.pull-right li.publish a{
	display: inline;
	background: #DF3832;
	padding: 1px 10px;
	color: #fff;
	border: 2px solid grey;
	border-radius: 10px;
}
.container .header ul.pull-right li.publish a:hover{
	background: #CF352F;
}

/*navigation - tin tức*/
nav.navigation {
	height: 30px;
	margin: 6px 0px 5px 105px;
}

nav.navigation ul.main {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	border: 1px solid #D1D1D1;
}

nav.navigation ul.main li.main {
	float: left;
	position: relative;
}

nav.navigation ul.main li.main a.main {
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	border-right : 1px solid #D1D1D1;
	font-weight: bold;
}

nav.navigation ul.main li.main-active a.main,
nav.navigation ul.main li.main:hover a.main {
	background: #0A72A6 !important;
	color: #FFF !important;
	text-decoration: none;
}


nav.navigation ul.main li.main:hover ul.item {
	display: block;
	text-decoration: none;
}
nav.navigation ul.item {
	display: none;
	position: absolute;
	left: -1px;
	top: 30px;
	z-index: 999;
	list-style: none;
	margin: 0px;
	padding: 0px;
	background: #FFF;
	border: 1px solid #066DA1;
	width: 220px;
	z-index: 999;
}

nav.navigation ul.item:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: #066DA1;
	position: absolute;
	top: -7px;
	left: 9px;
}

nav.navigation ul.item:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	top: -6px;
	left: 10px;
}

nav.navigation ul.item li.item {
	line-height: 30px;
	position: relative;
}

nav.navigation ul.item li.item a{
	margin-left: 10px;	
}

nav.navigation ul.item li.item a.item {
	line-height: 30px;
	margin: 0px;
	padding: 0px 10px;
	color: #000;
}

nav.navigation ul.item li.item-active a.item,
nav.navigation ul.item li.item:hover a.item {
	text-decoration: underline;
}

nav.navigation ul.main li.item:hover ul.sub {
	display: block;
}

nav.navigation ul.sub {
	display: none;
	position: absolute;
	left: 220px;
	top: -1px;
	z-index: 999;
	list-style: none;
	margin: 0px;
	padding: 0px;
	background: #FFF;
	border: 1px solid #066DA1;
	width: 220px;
}

nav.navigation ul.sub:before, nav.navigation ul.sub:after{
	right: 100%;
	top: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none; 
}
nav.navigation ul.sub:before {
	border-right-color: #066DA1;
	border-width: 7px;
	margin-top: -7px;
}

nav.navigation ul.sub:after {
	border-right-color: #fff;
	border-width: 6px;
	margin-top: -6px;
}

nav.navigation ul.search{
	margin: 0px 0px 0px 30px;
	border: none;
}

nav.navigation ul.search input.text{
	background-color: aliceblue;
	height: 31px;
}

nav.navigation ul.search input.submit{
	
}
nav.navigation ul.search input.submit:hover{
	background: aqua;
	border: 1px solid blue;
}

/************************/
/* Phân trang */
/************************/
.pagination {
	overflow: hidden;
	margin: 0px 10px 10px 10px;
}

.pagination ul {
	margin: 0px;
	padding: 0px;
	list-style: none; /*bỏ dấu gạch trước danh sách*/
	float: right;
}

.pagination ul li{
	float: left;
	margin: 0px 0px 0px 5px;
}

.pagination ul li.active,
.pagination ul li a{
	float: left;
	border: 1px solid #CCCCCC;
	padding: 3px 5px;
	color: #025A8D;
	min-width: 15px;
	text-align: center;
	background: #FFF;
}

.pagination ul li.active,
.pagination ul li.active a,
.pagination ul li:hover a{
	border: 1px solid #000;
	color: #000;
	background: #E7E7E7;
	text-decoration: none; 	
}


.my_input{
	width: 660px;
}
